<h1>Create a Song</h1>
<%= form_for @song  do |f| %>
  <%= f.label :title %> <br>
  <%= f.text_field :title %><br>
  <%= f.label :artist_name %><br>
  <%= f.text_field :artist_name %><br>
  <%= f.label :genre_id %> <br>
  <%= f.text_field :genre_id, list: "genres_complete" %>
  <datalist id="genres_complete">
    <% Genre.all.each do |g| %>
    <option value="<%=g.name%>">
    <% end %>
  </datalist>
  <br />

  <%= f.submit %>
<% end %>


